<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Add City</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body body style="margin:5px">
    <a th:href="@{/}">Home</a>
    <div>
        <i sec:authorize="isAuthenticated()">User: <span sec:authentication="name"></span></i>
        <a sec:authorize="!isAuthenticated()" class="btn btn-primary" th:href="@{/login}">Login</a>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" class="btn btn-sm btn-danger" />
        </form>
    </div>

    <h1>Edit City</h1>

    <div>
        <form th:object="${city}" th:action="@{../save/{id}(id=${city.cityId})}" method="post">
            <input type="hidden" name="_method" value="put" />
            <p>
            <p>
                <label for="CityId"></label>
                <input type="hidden" id="id" th:field="*{cityId}" readyonly="readyonly" />
            </p>
            <p>
                <input type="text" id="name" th:field="*{name}" />
                <label for="CityName">City Name</label>
            </p>
            <p>
                <input type="text" id="population" th:field="*{population}" />
                <label for="CityPopulation">City Population</label>
            </p>
            <p>
                <input type="text" id="area" th:field="*{area}" />
                <label for="CityArea">City Area</label>
            </p>
            <p>
                <input type="text" id="description" th:field="*{description}" />
                <label for="CityDescription">City Description</label>
            </p>
            <p>
                <input type="text" id="image" th:field="*{image}" />
                <label for="CityImage">Image Source Url</label>
            </p>
            <p>
                <select id="regions" th:field="*{region}" class="form-control">
                    <option th:each="region: ${regions}" th:value="${region.regionId}" th:text="${region.name}">
                    </option>
                    <label for="regions">Regions</label>
            </p>
            <input class="btn btn-success" type="submit" value="Save"></input>
        </form>
    </div>
    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger"></div>
</body>