<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Regions of Finland</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="margin:5px">
    <a th:href="@{/}">Home</a>
    <div>
        <i sec:authorize="isAuthenticated()">User: <span sec:authentication="name"></span></i>
        <a sec:authorize="!isAuthenticated()" class="btn btn-primary" th:href="@{/login}">Login</a>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" class="btn btn-sm btn-danger" />
        </form>
    </div>
    <h1>Regions of Finland</h1>
    <div>
        <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger" th:href="@{/db/delete}">Clear Database</a>
        <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger" th:href="@{/db/repopulate}">Repopulate
            Database</a>
    </div>
    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger"></div>
    <div>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-info" th:href="@{/region/add}">Add New
                        Region</a></th>
            </tr>
            <tr th:each="region : ${regions}">
                <td th:text="${region.name}"></td>
                <td th:text="${region.description}"></td>
                <td><a class="btn btn-info" th:href="@{/region/{id}(id=${region.regionId})}">Select</a></td>
                <td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-info"
                        th:href="@{/region/edit/{id}(id=${region.regionId})}">Edit</a></td>
                <td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger"
                        th:href="@{/region/delete/{id}(id=${region.regionId})}">Delete</a></td>
            </tr>
        </table>
    </div>
</body>