<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cities of Finland</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Cities of Finland</h1>

    <div>
        <h2>Test Region</h2>
        <p th:text="${testRegion}"></p>
    </div>
    <div>
        <h2>Database Regions:</h2>
        <tr th:each="region : ${regions}">
            <p>
                <td th:text="${region}"></td>
                <img th:src="${region.getImage()}">
            </p>

        </tr>
    </div>

    <div>
        <h2>Test City</h2>
        <p th:text="${testCity}"></p>
    </div>

    <div>
        <h2>Database Cities:</h2>
        <tr th:each="city : ${cities}">
            <p>
                <td th:text="${city}"></td>
                <img th:src="${city.getImage()}">
            </p>

        </tr>
    </div>

    <div>
        <h2>Test Location</h2>
        <p th:text="${testLocation}"></p>
    </div>

    <div>
        <h2>Database Locations:</h2>
        <tr th:each="location : ${locations}">
            <p>
                <td th:text="${location}"></td>
                <img th:src="${location.getImage()}">
            </p>

        </tr>
    </div>

    <div>
        <h2>Test AppUser</h2>
        <p th:text="${testAppUser}"></p>
    </div>

    <div>
        <h2>Database AppUsers:</h2>
        <tr th:each="appUser : ${appUsers}">
            <p>
                <td th:text="${appUser}"></td>
            </p>

        </tr>
    </div>

        <div>
        <h2>Test Comment</h2>
        <p th:text="${testComment}"></p>
    </div>

    <div>
        <h2>Database Comments:</h2>
        <tr th:each="comment : ${comments}">
            <p>
                <td th:text="${comment}"></td>
            </p>

        </tr>
    </div>




    <button onClick="testButton()">Test Button</button>

    <div id="testResult"></div>

    <script>
        function testButton() {
            const result = document.getElementById("testResult");
            if (result.textContent == "It worked!") {
                result.textContent = "";
            } else
                result.textContent = "It worked!";
        }
    </script>
</body>