<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Regions of Finland</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body body style="margin:5px">
    <a th:href="@{/}">Home</a>
    <div>
        <i sec:authorize="isAuthenticated()">User: <span sec:authentication="name"></span></i>
        <a sec:authorize="!isAuthenticated()" class="btn btn-primary" th:href="@{/login}">Login</a>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" class="btn btn-sm btn-danger" />
        </form>
    </div>
    <h1>Comments by Location</h1>
    <div>
        <table class="table table-striped">
            <tr>
                <th>Region Name</th>
                <th>Region Description</th>
                <th>Region Coat of Arms</th>
                <th sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-info" th:href="@{/region/add}">Add New
                        Region</a></th>
            </tr>
            <tr>
                <td th:text="${region.name}"></td>
                <td th:text="${region.description}"></td>
                <td><img style="height:50px" th:src="${region.image}"></td>
            </tr>
        </table>
        <table class="table table-striped">
            <tr>
                <th>City Name</th>
                <th>City Description</th>
                <th>City Population</th>
                <th>City Area</th>
                <th>City Image</th>
            </tr>
            <tr>
                <td th:text="${city.name}"></td>
                <td th:text="${city.description}"></td>
                <td th:text="${city.population}"></td>
                <td th:text="${city.area}"></td>
                <td><img th:src="${city.image}"></td>
            </tr>
        </table>
        <table class="table table-striped">
            <tr>
                <th>Location Name</th>
                <th>Location Description</th>
                <th>Location Address</th>
                <th>Location Image</th>
            </tr>
            <tr>
                <td th:text="${location.name}"></td>
                <td th:text="${location.description}"></td>
                <td th:text="${location.address}"></td>
                <td><img th:src="${location.image}"></td>
            </tr>
        </table>
        <table class="table table-striped">
            <tr>
                <th>Comment Headline</th>
                <th>Comment Body</th>
                <th>By User</th>
            </tr>
            <tr th:each="comment : ${comments}">
                <td th:text="${comment.headline}"></td>
                <td th:text="${comment.body}"></td>
                <td th:text="${comment.getAppUser().getUsername()}"></td>
                <td><a th:if="${comment.appUser.username == #authentication.name}" class="btn btn-info"
                        th:href="@{/comments/edit/{id}(id=${comment.commentId})}">Edit</a></td>
                <td><a th:if="${comment.appUser.username == #authentication.name or #authorization.expression('hasAuthority(''ADMIN'')')}"
                        sec:authorize="isAuthenticated()" class="btn btn-danger"
                        th:href="@{/comment/delete/{id}(id=${comment.commentId})}">Delete</a>
                </td>
            </tr>
        </table>
        <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger"></div>
    </div>
</body>