<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Add Region</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body body style="margin:5px">
    <a th:href="@{/}">Home</a>
    <div>
        <i sec:authorize="isAuthenticated()">User: <span sec:authentication="name"></span></i>
        <a sec:authorize="!isAuthenticated()" class="btn btn-primary" th:href="@{/login}">Login</a>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" class="btn btn-sm btn-danger" />
        </form>
    </div>

    <h1>Add Region</h1>

    <div>
        <form th:object="${region}" th:action="@{../save}" actin="#" method="post">
            <p>
                <label for="RegionId"></label>
                <input type="hidden" id="id" th:field="*{regionId}" readyonly="readyonly"/>
            </p>
            <p>
                <input type="text" id="name" th:field="*{name}" />
                <label for="RegionName">Region Name</label>
            </p>
            <p>
                <input type="text" id="description" th:field="*{description}" />
                <label for="RegionDescription">Region Description</label>
            </p>
            <p>
                <input type="text" id="image" th:field="*{image}" />
                <label for="RegionImage">Image Source Url</label>
            </p>
            <input class="btn btn-success" type="submit" value="Save"></input>
        </form>
    </div>
    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger"></div>
</body>